@import "../../global.scss";
li{
    font-size: 14px;
    margin-right: 60px;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;

    &.active{
        
        background-color: $navTextMain;
        color:white;
    }
}