.counter-card{
    width: 100px;
    min-height: 100px;
    height: auto;
    border-radius: 8px;
    // background-color: rgb(241, 250, 251);
    color: rgb(31,37,128);
    // box-shadow: 1px 1px rgb(203, 202, 202);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;



    h1{
        margin-bottom: 0;
    }

    h4{
        padding: 0;
        margin: 0;
        font-weight: 700;
        font-size: 24px;
    }
    h5{
        font-weight: 500;
        font-size: 16px;
    }
}