.contact {
    .circle {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(31, 37, 128);
        color: white;
    }

    .contact-box {
        box-shadow: 4px 4px 4px rgba(107, 106, 106, 0.1);
        border: 1px solid rgb(241, 239, 239);
        border-radius: 8px;

        p {
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}